@use "assets/fonts/fonts";
@use "styles/vars";
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;

  &:visited,
  &:active {
    color: inherit;
  }
}

button {
  font-family: inherit;
  background: none;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
  font-weight: 400;
  font-style: normal;
}

::-webkit-input-placeholder {
  color: vars.$secondaryColor;
}
:-moz-placeholder {
  color: vars.$secondaryColor;
}
::-moz-placeholder {
  color: vars.$secondaryColor;
}
:-ms-input-placeholder {
  color: vars.$secondaryColor;
}